.my-header {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #9fc197;
}

.app {
  background-color: #eeeeee;
  height: 100vh;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.individualCard {
  background-color: white;
  padding: 10px;
  transition: 0.2s;
  border-radius: 20px;
}

.individualCard:hover {
  transform: scale(1.3);
  cursor: pointer;
  background-color: beige;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.number-box {
  background-color: green;
  width: 0.5vw;
  margin: 3px;
  box-shadow: 3px 3px grey;
}

.sortbutton {
  height: 20px;
  width: 20px;
}

.generate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mybutton {
  border: 2px solid black;
  padding: 5px;
  transition: 0.2s;
  border-radius: 20px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #856464;
  color: white;
}

.mybutton:hover {
  background-color: wheat;
  cursor: pointer;
  transform: scale(1.1);
}

ellipse {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 380.3px;
  left: 698.3px;

  background: #9f9f9f;
  border-radius: 21px;
}

.graphpage {
  justify-content: auto;
  align-items: auto;
}

.graphbutton {
  border: 2px solid black;
  padding: 5px;
  transition: 0.2s;
  border-radius: 20px;
  height: 36px;
  display: flex;
  position:absolute;
  top: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  background-color: #856464;
  color: white;
}

.graphbutton:hover {
  background-color: wheat;
  cursor: pointer;
  transform: scale(1.1);
}